* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    background-color: #eee;
    min-height: 100%;
}

main {
    margin-bottom: 100px;
}

footer {
    margin-top: auto;
}