* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    background-color: #eee;
    min-height: 100%;
}

.nav-item i {
    font-size: 1.5rem;
    margin-right: 20px;
}

main {
    margin-bottom: 100px;
}

.add-to-cart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}
/* 
.add-to-cart input {
    width: 40px;
} */


footer {
    margin-top: auto;
}